<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camy's</title>
    <link rel="icon" href="https://www.crunchyroll.com/build/assets/img/favicons/favicon-16x16.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <style>
        body {
            background-color: gray !important;
        }
    </style>