<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center" id="headerMenu">
  <div class="m-3">
    <div id="titleSite" class="d-flex justify-content-center  ">
      <a href="/filmes" class="navbar-brand mr-auto" style="font-size: 36px; margin: 20px; font-weight: 800; color: #f47521;">Camy's</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container justify-content-center d-flex">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Usuários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cartaz">Vitrine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/filmes">Mangás</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/generos">Gêneros</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<style>
  #headerMenu{
    background-color: darkgray;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
}
</style>

