<%- include('../partials/head.ejs') %>
    <%- include('../partials/menu.ejs') %>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <div class="container pb-5">
            <div class="container-fluid d-flex flex-row gap-2 m-5">
                <div class="card d-flex" style="width: 18rem;">
                    <img src="https://imgur.com/s22QNCG.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">One Piece</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.researchgate.net/profile/Marilurdes-Borges/publication/348637849/figure/fig5/AS:982232843948049@1611193967796/Figura-2-Capa-do-manga-Naruto-Shippuden.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Naruto Shippuden</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://chuvadenanquim.files.wordpress.com/2013/09/ataque-dos-titc3a3s-capa-volume-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Atack on titan</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.awsli.com.br/2500x2500/838/838417/produto/200246994/tmpdragonballedicaodefinitiva12-e73802d41c.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Dragon Ball</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://i0.wp.com/blogbbm.com/wp-content/uploads/2020/02/er841a4xsaa4eci.png?resize=368%2C520&ssl=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Demon Slayer</p>
                    </div>
                </div>
            </div>

            <div class="container-fluid d-flex flex-row gap-2 m-5">
                <div class="card d-flex" style="width: 18rem;">
                    <img src="https://i.pinimg.com/736x/2b/66/d7/2b66d7d42491fec01903b09828496dcb.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Boruto</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR44SUSMpYXIVwgrReZ-lbnLSiS-f7xMl2IzYYpOPW71-knfFFBPLp7IgqtSpsRcv1yCPk&usqp=CAU.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Black Clover</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://i.pinimg.com/736x/a9/7a/b5/a97ab5d688cc883042ffa96bfd258ac6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Haikyuu</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://vocesabianime.com/wp-content/uploads/2021/10/Mieruko-chan-vol-4.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Mieruko-chan</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cupulatrovao.com.br/wp-content/uploads/2020/07/Solo-Leveling-tem-a-capa-do-2°-volume-revelado-pela-editora-NewPOP-713x1024.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Solo Leveling</p>
                    </div>
                </div>
            </div>

            <div class="container mt-5 d-grid col-6">
                <h2 class="text-center mb-4" style="color: whitesmoke">Recomendados</h2>


                <!-- Carrossel -->
                <div class="d-flex justify-content-center align-items-center">
                    <div id="filmeCarrossel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Carta do manga 1 -->
                            <div class="carousel-item active">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://selectgame.gamehall.com.br/wp-content/uploads/2021/11/One-Piece-Volume-101-Capa-01.webp"
                                        class="card-img-top" alt="Filme 1">
                                    <div class="card-body">
                                        <h5 class="card-title">One Piece</h5>
                                        <p class="card-text">(1997)</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Carta do manga 2 -->
                            <div class="carousel-item">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://lojamonstra.com.br/loja/wp-content/uploads/2022/04/demon-slayer-20.jpg"
                                        class="card-img-top" alt="Filme 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Demon Slayer</h5>
                                        <p class="card-text">(2019)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://i0.wp.com/ptanime.com/wp-content/uploads/2020/12/Jujutsu_Kaisen_volume-_14_capa_cover_shueisha_4jan2021.jpg?resize=600%2C941&ssl=1"
                                        class="card-img-top" alt="Filme 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Jujutsu Kaisen</h5>
                                        <p class="card-text">(2021)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://excelsiorcomics.com.br/loja/wp-content/uploads/2023/03/ataque-dos-titas-33.jpg"
                                        class="card-img-top" alt="Filme 2">
                                    <div class="card-body">
                                        <h5 class="card-title">Atack on titan</h5>
                                        <p class="card-text">(2013)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrCMfWf3ygsBf_nv8WqBA6I6ZmO8E59QejXQ&usqp=CAU"
                                        class="card-img-top" alt="Filme 2">
                                    <div class="card-body">
                                        <h5 class="card-title">ChainsawMan</h5>
                                        <p class="card-text">(2020)</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Adicione mais cartas de filmes conforme necessário -->

                        </div>

                        <!-- Botões de Navegação -->
                        <button class="carousel-control-prev btn btn-outline-primary" type="button"
                            data-bs-target="#filmeCarrossel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next btn btn-outline-primary" type="button"
                            data-bs-target="#filmeCarrossel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Próximo</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Adicione os scripts do Bootstrap no final do corpo -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

            <%- include('../partials/footer.ejs') %>